Bess__TelemetrySource=deye_cloud
Bess__PriceSeriesSource=entso-e
Bess__SiteTelemetrySource=fusionsolar
Bess__ConsumptionSource=askue

DeyeCloud__AppId=
DeyeCloud__AppSecret=
DeyeCloud__Email=
DeyeCloud__Password=
DeyeCloud__CompanyId=
DeyeCloud__StationId=
DeyeCloud__BaseUrl=https://eu1-developer.deyecloud.com/v1.0
DeyeCloud__HttpTimeoutSeconds=30
DeyeCloud__MaxRetryAttempts=3

Bess__EntsoeApiBaseUrl=https://web-api.tp.entsoe.eu/api
Bess__EntsoeApiToken=
Bess__EntsoeDomainCode=

FusionSolar__BaseUrl=https://eu5.fusionsolar.huawei.com/thirdData
FusionSolar__User=
FusionSolar__Password=
FusionSolar__StationCodes=

Askue__BaseUrl=http://askue.net/api/askue/v1/json/
Askue__Username=
Askue__Password=
Askue__SiteId=site-khlibzavod-5
Askue__PeriodSeconds=1800
Askue__PollIntervalSeconds=1800
Askue__DaysBack=1
Askue__TimeZoneId=Europe/Kyiv